<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleIdentifier</key>
	<string>us.macavaney.PropBankDict</string>
	<key>CFBundleName</key>
	<string>PropBank</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>DCSDictionaryCopyright</key>
	<string>Attribution-ShareAlike 4.0 International</string>
	<key>DCSDictionaryManufacturerName</key>
	<string>Sean MacAvaney</string>
	<key>DCSDictionaryFrontMatterReferenceID</key>
	<string>front_back_matter</string>
	<key>DCSDictionaryPrefsHTML</key>
	<string>PropBank_prefs.html</string>
	<key>DCSDictionaryXSL</key>
	<string>PropBank.xsl</string>
	<key>DCSDictionaryDefaultPrefs</key>
	<dict>
	</dict>
</dict>
</plist>
